<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youdao.nanti.candy.yirisanxing"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
   
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:debuggable="true">
        <activity
            android:name=".YiRiSanXingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="com.youdao.nanti.candy.yirisanxing.action.REVIEW" />
            </intent-filter>
        </activity>
        
        <receiver android:name="AlarmReceiver">
            <intent-filter>
               <action android:name="com.youdao.nanti.candy.yirisanxing.action.ALERT" />
               <action android:name="com.youdao.nanti.candy.yirisanxing.action.DELAY" />
               <data android:scheme="alarm" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        
        <service android:name="BeepService">
            <intent-filter>
                <action android:name="com.youdao.nanti.candy.yirisanxing.action.BEEP" />
            </intent-filter>
        </service>
        
    </application>

</manifest>
