@CHARSET "UTF-8";

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);	/*Hidden the focus highlighting*/
}

body {
	font-size: 100%;
	margin: 0px;
	padding: 0px;
}

.RaphaelIcons{
	font-family: 'RaphaelIcons';
	margin: 0 5px;
	font-size: 1.5em;
}


/********************Bottom Panel*********************/
.container{
	height: 100%;
	
}

.st-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0px;
	left:0px;
	font-family: Sans,serif,sans-serif;
	vertical-align:middle;
	/*Set content bg*/
/*	background: url("img/pattern.png") repeat;*/
/*	background: url("img/white_texture.png") repeat; */
}

.st-container > input,
.st-container > a {
	position: fixed;
	bottom:0px;
	font-size: 1.5em;
	width:25%;
	height:100%;
	line-height:100%;
/*	background: url("img/bottom.jpg") repeat;*/
	overflow: hidden;
	cursor: pointer;
	text-align: center;
}

.st-container > input {
	opacity: 0;
	z-index: 2;
}

.st-container > a {
	z-index: 10;
	font-weight: 700;
/*	background: url("img/bottom.jpg") repeat; */
	color: #fff;
	vertical-align:middle;
	text-decoration:none;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
/*	border-top:solid 2px #000; */
}

.bText{
	font-family: RaphaelIcons;
	font-size: 200%;
	height: 100%;
	line-height: 100%;
/*	padding: 20em 0em;*/
}

.st-container > input:checked + a,
.st-container > input:checked:hover + a{
	background-color: rgba(0,0,0,0.5);
}

.st-container > input:hover + a{
	background-color: rgba(0,0,0,0.2);
}

/* "Fix" for percentage rounding: add a background bar pseudo element with the same color like the labels */
.st-container:before {
	content: '';
	position: fixed;
	width: 100%;
	height: 100%;
	background: url("img/bottom.jpg") repeat;
	z-index: 1;
	bottom: 0;
}
/*put the bottom element at the right position*/
#st-control-1, #st-control-1 + a {
	left: 0;
}

#st-control-2, #st-control-2 + a {
	left: 25%;
}

#st-control-3, #st-control-3 + a {
	left: 50%;
}

#st-control-4, #st-control-4 + a {
	left: 75%;
}

/********************Bottom Panel END*********************/



/********************TOP Panel Panel*********************/

#topPanel{
	width:100%;
	margin:0px;
}
#topLine{
	border-top: solid 0.2em #12AAEE;
	height: 0;
	margin: 0;
	padding: 0;
	width:100%;
	position: fixed;
	top:0;
	left:0;
}

#topLine div{
	position: absolute;
	display: inline-block;
	width: 20%;
	height: 0.2em;
}

#tl1{
	background: #F3A01E;
	left:0;
}

#tl2{
	background: #D05D2A;
	left:20%;
}

#tl3{
	background: #9DC425;
	left:40%;
}

#tl4{
	background: #4B8DB5;
	left:60%;
}

#tl5{
	background: #7C48B5;
	left:80%;
}

#move{
	margin-top: 100%;
}


h3{
	border-bottom: 2px solid #12AAEE;
	color: #FF8A00;
/*	text-shadow: 1px 1px 1px rgba(151,24,64,0.1);*/
	height:2.5em;
	line-height:2.5em;
	font-weight: bold;
	font-size:2em;
/*	vertical-align: baseline;*/
/*	display: inline-table;*/
/*	color: #669900*/
}


.textGreen{
	color:  #12AAEE;
}

.textOrange{
	color: #FF8A00;
}

.textBold{
	font-weight: bold;
}

.lineGreen{
	height: 2px;
	line-height: 2px;
	display: block;
	background-color:  #12AAEE;
}

.textGray{
	color: #686868;
}

.textRight{
	text-align: right;
}

.cInput{
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #12AAEE;
	line-height: 2em;
	height: 2em;
	width: 93%;
	padding: 0 15px;
	font-size: 1.5em;
}

.lInput{
	border: none;
	background: transparent;
/*	border-bottom: 1px solid #12AAEE;*/
}


.bLine{
	border-bottom: 1px solid #12AAEE;
	line-height: 2em;
	height: 2em;
	font-size: 1.5em;
}

.currList{
/*	margin-top: 2em;*/
	line-height: 2em;
	height: 2em;
	padding-top:3em;
}

#currItemList{
	margin:0;
	padding:0;	
}

.Line{
	margin-top: 1em;
}

/*.button{
	border: none;
	border-radius:10px;
	background: #12AAEE;
	color: #FFF;
	padding: 10px 10px;
}*/

.button, .button-red{
	background-color:#12AAEE;
	padding:10px;
	position:relative;
	font-size:1.2em;
	text-decoration:none;
	color:#fff;
	border: solid 1px #186f8f;
/*	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);*/
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
/*	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;*/
	-webkit-border-radius: 5px;
/*	-moz-border-radius: 5px;
	-o-border-radius: 5px;*/
	border-radius: 10px;
}

.button-red{
	border: solid 1px #AA1C1C;
	background-color:#C81A1A;
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(200,26,26)),
	color-stop(1, rgb(241,55,55))
	);
	-webkit-box-shadow: inset 0px 1px 0px #F13737, 0px 1px 0px #fff;
}

.st-panel{
	width:100%;
}


.iList1,.iList2{
	margin-top: 1em;
	padding: 10px 0px 0px 10px;
	line-height: 2em;
	height: 2em;
	vertical-align: middle;
	border-left: 0.25em solid #F1AB19; 
}

.iList2{
	border-left: 0.25em solid #8FB12A; 
}

.iList1:hover,.iList2:hover{
	background: rgba(18,170,238,0.2);
}

.hOptions{
	margin: 0.1em 1em;
/*	border:#8FB12A 1px solid;*/
	height: 2em;
	line-height: 2em;
	box-shadow: 0px 1px 5px #06c;
	display:none;
	font-size: 2em;
/*	width: 80%;*/
}

.hOptions span{
	display: inline-table;
	width: 24%; 
	text-align: center;
	margin:0;
	padding:0;
}

.fLeft{
	float: left;
}

textarea{
	border: 1px solid #12AAEE;
	height: 3em;
	width: 80%;
	border-radius: 20px;
	font-size:1.5em;
	margin:1em 0em 1em 1em;
	padding: 0.5em;
}

.rTime{
	width: 5em;
	color: #3E94F3;
}

.rReview{
	border-left: solid 1px #949494;
}

.vComment{
	margin: 0.1em 1em;
/*	border:#8FB12A 1px solid;*/
/*	height: 2em;*/
	line-height: 1.5em;
	box-shadow: 0px 1px 5px #06c;
	display:none;
	font-size: 1.25em;
	padding: 0.2em;
/*	width: 80%;*/
}

.rhbg:hover{
	background: rgba(18,170,238,0.2);
}
/********************TOP Panel END*********************/

